# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.xcuserstate
DigiToken.xcodeproj/project.xcworkspace/xcuserdata/danielchang.xcuserdatad/UserInterfaceState.xcuserstate